appnope==0.1.0
backcall==0.1.0
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
future==0.16.0
gym==0.10.5
idna==2.7
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.12.1
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.5
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pyglet==1.2.4
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
simplegeneric==0.8.1
six==1.11.0
torch==0.4.0
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
