appnope
backcall
certifi
chardet
cycler
decorator
future
gym
idna
ipython
ipython-genutils
jedi
kiwisolver
matplotlib
numpy
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
pyglet
Pygments
pyparsing
python-dateutil
pytz
requests
scipy
simplegeneric
six
torch
traitlets
urllib3
wcwidth
notebook
